<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT TIME!{{else}}NO DEVOUR!{{/if}}
	</button>

	<button class="delete-burg" data-id="{{this.id}}">DELETE!</button>
</li>
